.carousel {
    position: relative;
    width: 100%;
    max-width: 3000px; 
    margin: 0 auto; 
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-image {
    min-width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  .carousel-image.active {
    opacity: 1;
    display: flex;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }